
body {
    font-family: Arial, sans-serif;
    background-color: #f3e4de;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff0eb;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  
  h2 {
    color: #4d3a38;
    margin: 0;
  }
  
  .back-button {
    text-decoration: none;
    font-size: 14px;
    color: #a86f63;
    font-weight: bold;
  }
  
  .back-button:hover {
    color: #91584f;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #4d3a38;
    font-weight: bold;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d9c1ba;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #a86f63;
  }
  
  button {
    background-color: #a86f63;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #91584f;
  }
  .footer {
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
  }
  
  